@charset "UTF-8";
/* リセットCSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5要素の表示をブロックレベルに設定 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 画像のボーダーを削除 */
img {
  border-style: none;
}

/* リンクのテキスト装飾をリセット */
a {
  text-decoration: none;
  color: inherit;
}

/* フォーム要素の外観をリセット */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/* ボタンと入力タイプをリセット */
button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

.zen-maru-gothic-light {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 300;
  font-style: normal;
}

.zen-maru-gothic-regular {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
}

.zen-maru-gothic-medium {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  font-style: normal;
}

.zen-maru-gothic-bold {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 300;
  font-style: normal;
  color: #725d53;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

header .container {
  width: 95%;
  max-width: 1400px;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
}
header .container .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .wrapper h1 {
  width: 270px;
}
header .container .wrapper nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .wrapper nav ul li {
  margin-left: 20px;
}
header .container .wrapper nav ul li a {
  font-weight: bold;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .container .wrapper nav ul li:hover a {
  opacity: 0.7;
}

.fv .container .wrapper {
  position: relative;
  background: #fcfcf8;
}
.fv .container .wrapper .mv {
  width: 70%;
}
.fv .container .wrapper .text-wrapper {
  position: absolute;
  top: 31%;
  right: 11%;
}
.fv .container .wrapper .text-wrapper img {
  width: 90%;
  display: block;
  margin: 0 auto;
}
.fv .container .wrapper .text-wrapper h2 span {
  display: inline-block;
  font-size: clamp(2em, 2.3vw, 5.5em);
  padding: 10px 20px;
  color: white;
  background: #f3a57f;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 3px;
}
.fv .container .wrapper .text-wrapper h2 span.first {
  margin-top: 10px;
  padding: 10px 40px 10px 20px;
}
.fv .container .wrapper .text-wrapper h2 span.second {
  margin-top: 20px;
}
.fv .container .wrapper .footprint {
  width: 35%;
  position: absolute;
  right: 0;
  bottom: 5%;
}
.fv .container .wrapper .fv-banner {
  width: 11%;
  position: absolute;
  right: 6%;
  bottom: 1%;
}

.onayami .container {
  position: relative;
}
.onayami .container .wrapper {
  padding-top: 90px;
  padding-bottom: 60px;
  background: #fcfcf8;
}
.onayami .container .wrapper .section-header {
  text-align: center;
}
.onayami .container .wrapper .section-header h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 3px;
}
.onayami .container .wrapper .section-header img {
  width: 325px;
  margin-top: 15px;
}
.onayami .container .wrapper .content-wrapper {
  width: 990px;
  margin: 0 auto;
  margin-top: 70px;
}
.onayami .container .wrapper .content-wrapper .above-wrapper {
  padding-right: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.onayami .container .wrapper .content-wrapper .above-wrapper .content {
  width: 220px;
  position: relative;
}
.onayami .container .wrapper .content-wrapper .above-wrapper .content p {
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.2em;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.onayami .container .wrapper .content-wrapper .above-wrapper .content:nth-child(2) {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}
.onayami .container .wrapper .content-wrapper .above-wrapper .content:nth-child(3) {
  width: 200px;
}
.onayami .container .wrapper .content-wrapper .above-wrapper .content:nth-child(3) p {
  -webkit-transform: translateY(-65%);
          transform: translateY(-65%);
}
.onayami .container .wrapper .content-wrapper .above-wrapper .content:nth-child(4) {
  width: 175px;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
}
.onayami .container .wrapper .content-wrapper .above-wrapper .content:nth-child(4) p {
  -webkit-transform: translateY(-160%);
          transform: translateY(-160%);
}
.onayami .container .wrapper .content-wrapper .bottom-wrapper {
  padding-left: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.onayami .container .wrapper .content-wrapper .bottom-wrapper .content {
  width: 220px;
  position: relative;
}
.onayami .container .wrapper .content-wrapper .bottom-wrapper .content p {
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.2em;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.onayami .container .wrapper .content-wrapper .bottom-wrapper .content:nth-child(1) {
  width: 180px;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}
.onayami .container .wrapper .content-wrapper .bottom-wrapper .content:nth-child(1) p {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.onayami .container .wrapper .content-wrapper .bottom-wrapper .content:nth-child(2) {
  width: 190px;
  -webkit-transform: translateY(27px);
          transform: translateY(27px);
}
.onayami .container .wrapper .content-wrapper .bottom-wrapper .content:nth-child(2) p {
  -webkit-transform: translateY(-80%);
          transform: translateY(-80%);
}
.onayami .container .wrapper .content-wrapper .bottom-wrapper .content:nth-child(3) {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.onayami .container .wrapper .content-wrapper .bottom-wrapper .content:nth-child(4) {
  width: 185px;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
}
.onayami .container .wrapper .content-wrapper .bottom-wrapper .content:nth-child(4) p {
  -webkit-transform: translateY(-80%);
          transform: translateY(-80%);
}
.onayami .container > img {
  width: 30%;
  position: absolute;
  bottom: -50px;
  left: 0;
  z-index: 10;
}

.message .container .wrapper {
  position: relative;
  z-index: 9;
}
.message .container .wrapper h2 {
  width: 880px;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.message .container .wrapper h2 .text p {
  font-size: 2em;
  font-weight: 400;
  white-space: nowrap;
}
.message .container .wrapper h2 .text img {
  width: 100%;
}
.message .container .wrapper h2 .text.text2 img {
  width: 40%;
}
.message .container .wrapper > p {
  width: 75%;
  max-width: 1050px;
  font-weight: 500;
  letter-spacing: 1.6px;
  line-height: 2em;
  position: absolute;
  top: 38%;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

.features .container .wrapper {
  background: #fcfcf8;
  padding: 170px 0 80px 0;
  position: relative;
}
.features .container .wrapper > img {
  max-width: 1440px;
}
.features .container .wrapper .content-wrapper {
  width: 90%;
  max-width: 1150px;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.features .container .wrapper .content-wrapper img {
  width: 35%;
  max-width: 410px;
}
.features .container .wrapper .content-wrapper .text-content-wrapper {
  width: 55%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.features .container .wrapper .content-wrapper .text-content-wrapper .content {
  width: 43%;
  padding: 90px 15px 30px 15px;
  background: #fdf4f4;
  font-weight: 500;
  margin-top: 30px;
  border: solid 1px #f5e4e4;
  border-radius: 22px;
  position: relative;
}
.features .container .wrapper .content-wrapper .text-content-wrapper .content img {
  width: 290px;
  position: absolute;
  top: 20px;
  left: -13.5px;
}
.features .container .wrapper .content-wrapper .text-content-wrapper .content p {
  letter-spacing: 2.5px;
  line-height: 1.5em;
}

.contact .container {
  background: #fcfcf8;
  padding-top: 100px;
}
.contact .container .wrapper {
  width: 90%;
  max-width: 1220px;
  margin: 0 auto;
  background: #f6e8d4;
  padding: 90px 0 70px 0;
  border-radius: 20px;
}
.contact .container .wrapper .section-header {
  width: 380px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact .container .wrapper .section-header img {
  width: 60px;
}
.contact .container .wrapper .section-header h2 {
  font-size: 30px;
  font-weight: 500;
  color: #e28a69;
  text-align: center;
}
.contact .container .wrapper p {
  text-align: center;
  margin-top: 40px;
  line-height: 2em;
  font-weight: 500;
}
.contact .container .wrapper .btn {
  background: #e28a69;
  width: 360px;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  padding: 20px 0;
  border-radius: 50px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: solid 1px #e28a69;
}
.contact .container .wrapper .btn a {
  color: white;
  letter-spacing: 1px;
  font-weight: 400;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact .container .wrapper .btn a:after {
  position: absolute;
  border: 1px dashed white;
  content: "";
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact .container .wrapper .btn:hover {
  background: white;
}
.contact .container .wrapper .btn:hover a {
  color: #e28a69;
}
.contact .container .wrapper .btn:hover a:after {
  border: 1px dashed #e28a69;
}

.profile .container {
  padding: 90px 0 100px 0;
  background: #fcfcf8;
}
.profile .container .wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
.profile .container .wrapper .sec-header {
  text-align: center;
}
.profile .container .wrapper .sec-header h2 {
  font-size: 28px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 3px;
}
.profile .container .wrapper .sec-header img {
  width: 240px;
  margin-top: 15px;
}
.profile .container .wrapper .content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
}
.profile .container .wrapper .content-wrapper img {
  width: 40%;
}
.profile .container .wrapper .content-wrapper .text-wrapper {
  width: 55%;
}
.profile .container .wrapper .content-wrapper .text-wrapper .name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile .container .wrapper .content-wrapper .text-wrapper .name span:nth-child(1) {
  font-size: 26px;
  letter-spacing: 3px;
  font-weight: 400;
}
.profile .container .wrapper .content-wrapper .text-wrapper .name span:nth-child(2) {
  letter-spacing: 3px;
  font-weight: 500;
  margin-left: 20px;
}
.profile .container .wrapper .content-wrapper .text-wrapper ul {
  margin-top: 30px;
  margin-left: 25px;
}
.profile .container .wrapper .content-wrapper .text-wrapper ul li {
  line-height: 1.8em;
  font-weight: 500;
  position: relative;
}
.profile .container .wrapper .content-wrapper .text-wrapper ul li:before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -23px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #e19274;
}
.profile .container .wrapper .content-wrapper .text-wrapper .text {
  margin-top: 30px;
  line-height: 1.7em;
  letter-spacing: 2px;
  font-weight: 500;
}

.service .container .wrapper {
  background: #fdfdfa;
  padding-bottom: 110px;
}
.service .container .wrapper .sec-header {
  background-image: url(img/bg-service.png);
  background-size: cover;
  background-position: center;
  padding: 80px 0 120px 0;
  position: relative;
}
.service .container .wrapper .sec-header:before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.service .container .wrapper .sec-header h2 {
  text-align: center;
  font-size: 28px;
  color: white;
  letter-spacing: 3px;
  font-weight: 500;
  position: relative;
  z-index: 2;
}
.service .container .wrapper .service-wrapper {
  width: 90%;
  max-width: 1220px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  position: relative;
  z-index: 10;
}
.service .container .wrapper .service-wrapper .service {
  width: 27.5%;
  background: #feeed7;
  border-radius: 30px;
  padding: 30px;
}
.service .container .wrapper .service-wrapper .service .info {
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 20px;
}
.service .container .wrapper .service-wrapper .service .service-name {
  margin-top: 30px;
  text-align: center;
}
.service .container .wrapper .service-wrapper .service .service-name p {
  font-size: 26px;
  color: #f08962;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
}
.service .container .wrapper .service-wrapper .service .service-name img {
  width: 230px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.service .container .wrapper .service-wrapper .service .price {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 1.3em;
  margin: 20px 0 30px 0;
}
.service .container .wrapper .service-wrapper .service .notice {
  font-size: 12px;
  width: 90%;
  margin: 0 auto;
  letter-spacing: 1px;
  line-height: 1.35em;
  margin-top: 10px;
  font-weight: 500;
}
.service .container .wrapper .service-wrapper .service .osusume {
  background: #e19274;
  color: white;
  text-align: center;
  padding: 7px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 400;
  margin-top: 20px;
}
.service .container .wrapper .service-wrapper .service ul {
  margin-top: 15px;
  margin-left: 30px;
}
.service .container .wrapper .service-wrapper .service ul li {
  font-weight: 500;
  line-height: 1.5em;
  position: relative;
}
.service .container .wrapper .service-wrapper .service ul li:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #e19274;
  position: absolute;
  top: 50%;
  left: -17px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.service .container .wrapper .service-wrapper .service .text {
  margin-top: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.3em;
}
.service .container .wrapper .service-wrapper .service:nth-child(2) {
  width: 27.5%;
  background: #ffe3e2;
  border-radius: 30px;
  padding: 30px;
}
.service .container .wrapper .service-wrapper .service:nth-child(2) .service-name {
  margin-top: 30px;
  text-align: center;
}
.service .container .wrapper .service-wrapper .service:nth-child(2) .service-name p {
  font-size: 26px;
  color: #f08962;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
}
.service .container .wrapper .service-wrapper .service:nth-child(2) .service-name img {
  width: 130px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.service .container .wrapper .service-wrapper .service:nth-child(2) > img {
  margin-top: 17px;
}
.service .container .wrapper .service-wrapper .service:nth-child(3) {
  width: 27.5%;
  background: #e4f2f2;
  border-radius: 30px;
  padding: 30px;
}
.service .container .wrapper .service-wrapper .service:nth-child(3) .service-name > img {
  width: 300px;
}
.service .container .wrapper .service-wrapper .service:nth-child(3) .service-name > img:nth-child(4) {
  width: 200px;
}
.service .container .wrapper .notice2 {
  text-align: center;
  font-weight: 500;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  letter-spacing: 1px;
}
.service .container .wrapper .notice3 {
  text-align: center;
}
.service .container .wrapper .notice3 p {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 2px;
}
.service .container .wrapper .notice3 img {
  width: 760px;
  -webkit-transform: translate(-7px, -5px);
          transform: translate(-7px, -5px);
}
.service .container .wrapper .btn {
  background: #e28a69;
  width: 360px;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  padding: 20px 0;
  border-radius: 50px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: solid 1px #e28a69;
}
.service .container .wrapper .btn a {
  color: white;
  letter-spacing: 1px;
  font-weight: 400;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.service .container .wrapper .btn a:after {
  position: absolute;
  border: 1px dashed white;
  content: "";
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.service .container .wrapper .btn:hover {
  background: white;
}
.service .container .wrapper .btn:hover a {
  color: #e28a69;
}
.service .container .wrapper .btn:hover a:after {
  border: 1px dashed #e28a69;
}

.flow .container {
  position: relative;
}
.flow .container .wrapper {
  position: relative;
  z-index: 2;
}
.flow .container .wrapper .sec-header {
  text-align: center;
  padding-top: 120px;
}
.flow .container .wrapper .sec-header h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
}
.flow .container .wrapper .sec-header img {
  width: 180px;
  margin-top: 15px;
}
.flow .container .wrapper .flow-wrapper {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flow .container .wrapper .flow-wrapper .flow {
  width: 23.3%;
  padding: 40px 40px 20px 40px;
  border: solid 5px #f1bca8;
  position: relative;
  border-radius: 25px;
  background: white;
}
.flow .container .wrapper .flow-wrapper .flow h3 {
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  color: #e19274;
  margin-bottom: 30px;
  letter-spacing: 2px;
}
.flow .container .wrapper .flow-wrapper .flow p {
  margin-top: 20px;
  font-weight: 500;
  line-height: 1.3em;
  letter-spacing: 1px;
}
.flow .container .wrapper .flow-wrapper .flow .arrow {
  width: 30px;
  position: absolute;
  top: 50%;
  right: -35px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.flow .container .wrapper .flow-wrapper .flow:nth-child(2) {
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}
.flow .container .wrapper .flow-wrapper .flow:nth-child(3) {
  -webkit-transform: translateY(120px);
          transform: translateY(120px);
}
.flow .container .wrapper .flow-wrapper .flow:nth-child(4) {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}
.flow .container .wrapper .flow-wrapper .flow:nth-child(5) {
  -webkit-transform: translateY(110px);
          transform: translateY(110px);
}
.flow .container .wrapper .flow-wrapper .flow:nth-child(6) {
  -webkit-transform: translateY(170px);
          transform: translateY(170px);
}
.flow .container .wrapper .dog {
  width: 200px;
  position: absolute;
  bottom: -35%;
  left: 5%;
}
.flow .container .flow-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 95vw;
  max-height: 1400px;
}/*# sourceMappingURL=style.css.map */